@import "@/assets/style/theme/handle.scss";

nav {
    font-size: 0.9rem;
    ol {
        li {
            list-style: none;
            margin-bottom: 6px;
            a {
                text-decoration: none;
                @include font_color("font-color");
            }
            ol {
                li {
                    margin-left: 12px;
                }
            }
        }
    }
}

.content {
    h1,
    h2,
    h3,
    h4,
    p {
        margin: 24px 0;
        scroll-margin-top: 64px;
    }
    a {
        color: #839476;
    }
    h1 {
        font-size: 26px;
    }
    h1::before {
        content: "H1";
        margin-right: 6px;
        font-size: 12px;
        @include font_color("tint-font-color-2");
    }

    h2 {
        font-size: 22px;
    }
    h2::before {
        content: "H2";
        margin-right: 6px;
        font-size: 12px;
        @include font_color("tint-font-color-2");
    }

    h3 {
        font-size: 18px;
    }
    h3::before {
        content: "H3";
        margin-right: 6px;
        font-size: 12px;
        @include font_color("tint-font-color-2");
    }

    h4 {
        font-size: 14px;
    }
    h4::before {
        content: "H4";
        margin-right: 6px;
        font-size: 12px;
        @include font_color("tint-font-color-2");
    }

    h5,
    h6 {
        display: none;
    }

    p {
        line-height: 28px;
        margin: 24px 0;
    }

    ul {
        padding: 16px;
        li {
            margin-left: 12px;

            ul {
                padding: 0;
            }
        }
    }

    .hljs {
        width: calc(100% - 4px - 48px);
        margin: 12px 0;
        padding: 24px;
        background: none;
        border: 2px solid #23241f;
        border-radius: 12px;
        background-color: #23241f;
        font-size: 0.9rem;
        .hljs-keyword {
            color: #ff5572;
            text-shadow: 0 0 10px #ff5572;
        }
        .hljs-variable {
            color: #ffcb6b;
        }
        .hljs-title {
            color: #89ddff;
        }
    }
    code {
        margin: 0 4px;
        padding: 0 4px;
        background-color: #839476;
        border-radius: 4px;
    }

    img {
        width: 100%;
        margin: 12px 0;
        border-radius: 12px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 2px solid #e4e4e7 !important;
        margin-bottom: 20px;
    }
    table th {
        border-collapse: collapse;
        border-right: 2px solid #e4e4e7 !important;
        border-bottom: 2px solid #e4e4e7 !important;
        background-color: #eed1a6 !important;
        padding: 5px 9px;
        font-size: 1.1rem;
    }
    table td {
        border-collapse: collapse;
        border-right: 2px solid #e4e4e7 !important;
        border-bottom: 2px solid #e4e4e7 !important;
        padding: 5px 9px;
        font-size: 1rem;
        font-weight: normal;
        word-break: break-all;
    }
}

@media screen and (max-width: 450px) {
    .content {
        padding: 12px;
        p {
            width: 100%;
        }
        img {
            width: 100vw;
            margin: 0 0 0 -12px;
            border-radius: 0;
        }
        .hljs {
            width: calc(100vw - 24px);
            margin: 0 0 0 -12px;
            padding: 12px;
            border: none;
            border-radius: 0;
            @include border_top_color("border");
            @include border_bottom_color("border");
        }
        .hljs:hover {
            width: calc(100vw - 24px);
            margin-left: -12px;
        }
    }
}
