@import "style/theme/handle.scss";

.themeSwitch {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    @include background_color("dock-background");

    > div {
        width: 100px;
        height: 200px;
        position: relative;

        .icon {
            width: 100px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .iconfont {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                opacity: 0;
                position: absolute;
                transition: 2s;
            }
        }
        .lid {
            width: 100%;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #141414;
            border-radius: 999px;
        }
    }
}
