@import "@/assets/style/theme/handle.scss";

.wish {
    width: 1000px;
    min-height: 100vh;

    margin: 0 auto;
    padding: 128px 0 0 0;

    display: flex;
    flex-direction: column;

    .title {
        margin: 0;
        margin-bottom: 12px;
        font-size: 2rem;
        font-weight: bold;
    }
    p {
        margin: 6px 0;
    }

    .list {
        margin-top: 12px;
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 325px;
            height: 216px;
            list-style: none;
            margin: 3px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            @include border_color("border");

            img {
                width: 100%;
            }
            .overspread:hover + img {
                scale: 1.1;
            }
            .overspread {
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.25);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }
            .text {
                width: 100%;
                position: absolute;
                left: 24px;
                bottom: 18px;
                z-index: 1;
                display: flex;
                flex-direction: column;

                p {
                    margin: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                p:first-child {
                    font-size: 1rem;
                }
            }
        }
    }
    .sponsor {
        li {
            list-style: none;

            margin-bottom: 12px;
            padding: 24px;

            display: flex;
            flex-direction: column;

            overflow: scroll;
            border-radius: 12px;
            @include border_color("border");
            @include background_color("card-background");

            .li_title {
                font-size: 1.1rem;
                margin-bottom: 4px;
            }
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .wish {
        width: calc(100vw - 40px);
        padding: 0 20px;
        padding-top: 70px;

        .list {
            li {
                width: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }
}
